src/main/resources/generated/schemas/datatypes.decimal.electrical.charge.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="org.marssa.footprint.datatypes.decimal.electrical.charge" xmlns:ns1="org.marssa.footprint.datatypes.decimal" xmlns:tns="org.marssa.footprint.datatypes.decimal.electrical.charge" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:import namespace="org.marssa.footprint.datatypes.decimal" schemaLocation="datatypes.decimal.xsd"/>

  <xs:complexType name="ACharge" abstract="true">
    <xs:simpleContent>
      <xs:extension base="ns1:MDecimal"/>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="Ah">
    <xs:simpleContent>
      <xs:extension base="tns:ACharge"/>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="Coulombs">
    <xs:simpleContent>
      <xs:extension base="tns:ACharge"/>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="mAh">
    <xs:simpleContent>
      <xs:extension base="tns:ACharge"/>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>

