src/main/resources/generated/schemas/datatypes.integer.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="org.marssa.footprint.datatypes.integer" xmlns:tns="org.marssa.footprint.datatypes.integer" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="DegreesInteger">
    <xs:simpleContent>
      <xs:extension base="tns:MInteger"/>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="MInteger">
    <xs:restriction base="xs:integer"/>
  </xs:simpleType>

  <xs:complexType name="PercentageInteger">
    <xs:simpleContent>
      <xs:extension base="tns:MInteger"/>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>

