src/main/resources/generated/schemas/datatypes.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="org.marssa.footprint.datatypes" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:simpleType name="MBoolean">
    <xs:restriction base="xs:boolean"/>
  </xs:simpleType>

  <xs:simpleType name="MDate">
    <xs:restriction base="xs:dateTime"/>
  </xs:simpleType>

  <xs:simpleType name="MString">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:complexType name="typeFactory">
    <xs:sequence/>
  </xs:complexType>
</xs:schema>

