src/main/resources/generated/schemas/datatypes.decimal.electrical.energy.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="org.marssa.footprint.datatypes.decimal.electrical.energy" xmlns:ns1="org.marssa.footprint.datatypes.decimal" xmlns:tns="org.marssa.footprint.datatypes.decimal.electrical.energy" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:import namespace="org.marssa.footprint.datatypes.decimal" schemaLocation="datatypes.decimal.xsd"/>

  <xs:complexType name="AEnergy" abstract="true">
    <xs:simpleContent>
      <xs:extension base="ns1:MDecimal"/>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="Joules">
    <xs:simpleContent>
      <xs:extension base="tns:AEnergy"/>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="KJoules">
    <xs:simpleContent>
      <xs:extension base="tns:AEnergy"/>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="MJoules">
    <xs:simpleContent>
      <xs:extension base="tns:AEnergy"/>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>

