src/main/resources/generated/schemas/datatypes.decimal.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="org.marssa.footprint.datatypes.decimal" xmlns:tns="org.marssa.footprint.datatypes.decimal" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="DegreesDecimal">
    <xs:simpleContent>
      <xs:extension base="tns:MDecimal"/>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="MDecimal">
    <xs:restriction base="xs:decimal"/>
  </xs:simpleType>

  <xs:complexType name="PercentageFloat">
    <xs:simpleContent>
      <xs:extension base="tns:MDecimal"/>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="UnsignedDecimal">
    <xs:simpleContent>
      <xs:extension base="tns:MDecimal"/>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>

