src/main/resources/generated/schemas/datatypes.decimal.speed.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="org.marssa.footprint.datatypes.decimal.speed" xmlns:ns1="org.marssa.footprint.datatypes.decimal" xmlns:tns="org.marssa.footprint.datatypes.decimal.speed" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:import namespace="org.marssa.footprint.datatypes.decimal" schemaLocation="datatypes.decimal.xsd"/>

  <xs:complexType name="ASpeed" abstract="true">
    <xs:simpleContent>
      <xs:extension base="ns1:UnsignedDecimal"/>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="KPH">
    <xs:simpleContent>
      <xs:extension base="tns:ASpeed"/>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="Knots">
    <xs:simpleContent>
      <xs:extension base="tns:ASpeed"/>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="MPH">
    <xs:simpleContent>
      <xs:extension base="tns:ASpeed"/>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="MPS">
    <xs:simpleContent>
      <xs:extension base="tns:ASpeed"/>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>

