src/main/resources/generated/schemas/datatypes.decimal.temperature.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="org.marssa.footprint.datatypes.decimal.temperature" xmlns:ns1="org.marssa.footprint.datatypes.decimal" xmlns:tns="org.marssa.footprint.datatypes.decimal.temperature" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:import namespace="org.marssa.footprint.datatypes.decimal" schemaLocation="datatypes.decimal.xsd"/>

  <xs:complexType name="ATemperature" abstract="true">
    <xs:simpleContent>
      <xs:extension base="ns1:MDecimal"/>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="DegreesCelcius">
    <xs:simpleContent>
      <xs:extension base="tns:ATemperature"/>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="Fahrenheit">
    <xs:simpleContent>
      <xs:extension base="tns:ATemperature"/>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="Kelvin">
    <xs:simpleContent>
      <xs:extension base="tns:ATemperature"/>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>

