src/main/resources/generated/schemas/quantities.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="org.marssa.footprint.quantities" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:simpleType name="CompassQuantities">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ATTITUDE"/>
      <xs:enumeration value="DEVIATION"/>
      <xs:enumeration value="HEADING"/>
      <xs:enumeration value="MAGNETIC_HEADING"/>
      <xs:enumeration value="RATE_OF_TURN"/>
      <xs:enumeration value="TRUE_HEADING"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="DepthSensorQuantities">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DEPTH_METERS"/>
      <xs:enumeration value="TEMPERATURE"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="GpsQuantities">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ALTITUDE"/>
      <xs:enumeration value="SOG"/>
      <xs:enumeration value="COG"/>
      <xs:enumeration value="AZIMUTH"/>
      <xs:enumeration value="COORDINATE"/>
      <xs:enumeration value="DATE"/>
      <xs:enumeration value="ELEVATION"/>
      <xs:enumeration value="LOCAL_ZONE_TIME"/>
      <xs:enumeration value="SATELLITE_ID"/>
      <xs:enumeration value="SATELLITE_IN_VIEW"/>
      <xs:enumeration value="SATELLITES_IN_USE"/>
      <xs:enumeration value="SIGNAL_STRENGTH"/>
      <xs:enumeration value="SNR"/>
      <xs:enumeration value="EPT"/>
      <xs:enumeration value="STATUS"/>
      <xs:enumeration value="TIME"/>
      <xs:enumeration value="VDOP"/>
      <xs:enumeration value="HDOP"/>
      <xs:enumeration value="PDOP"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="SpeedSensorQuantities">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SPEED_KNOTS"/>
      <xs:enumeration value="MAGNETIC_NORTH"/>
      <xs:enumeration value="TRUE_NORTH"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="WeatherInstrumentQuantities">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AIR_TEMPERATURE"/>
      <xs:enumeration value="DEW_POINT"/>
      <xs:enumeration value="GUST_SPEED"/>
      <xs:enumeration value="HUMIDITY"/>
      <xs:enumeration value="AIR_PRESSURE"/>
      <xs:enumeration value="SOLAR_RADIATION"/>
      <xs:enumeration value="WIND_DIRECTION"/>
      <xs:enumeration value="WIND_SPEED"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>

